html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#column-container {
    display: flex;
    align-items: center;
    flex: 1;
    width: 700px;
    height: 700px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 ;
    height: 700px;
}

.row {
    flex: 1 0 5px;
    min-width: 5px;
    border: 1px solid black;
    
}

#buttons {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    gap: 20px;
}
